<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener | Rooms</title>
</head>
<body>
<table>
    <tr>
        <th>Room Number</th>
        <th>Room Name</th>
        <th>Bed Info</th>
    </tr>
    <tr th:each="urlMapping:${urlMappings}">
        <td th:text="${urlMapping.id}">ID</td>
        <td th:text="${urlMapping.shortUrl}">ShortCode</td>
        <td th:text="${urlMapping.longUrl}">Original URL</td>
    </tr>
</table>

</body>
</html>